
.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #ffffff;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
}

.big {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
}

.little {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
}

.mid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    max-width: 50%;
    margin-right: 0;
}

.img_title {
    flex-basis: 100%;
    max-width: 100%;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}
.img_title2{
    flex-basis: 100%;
    max-width: 100%;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
    margin-left: 10px;
    margin-right: 10px;
}
.img {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.author{
    color: #000000;
    font-family: PoynterOldstyleDisplay-NarBold, serif;
    font-size: 13px;
}

.title2 {
    flex-basis: 100%;
}

.theme {
    font-size: 20px;
    font-weight: bold;
    color: #921421;
    text-align: left;
    font-family: PoynterOldstyleDisplay-NarBold, serif;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.big_title {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    font-family: PoynterOldstyleDisplay-NarBold, serif;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.small_title {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    font-family: PoynterOldstyleDisplay-NarBold, serif;
    margin-block-start: 0.5em;
    margin-block-end: 0.3em;
}

.section_title {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    font-family: PoynterOldstyleDisplay-NarBold, serif;
    margin-block-start: 0.5em;
    margin-block-end: 0.3em;
    flex-basis: 100%;
    padding-left: 20px;
}

.down_side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    width: 100%;
}

.main_news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #ffffff;
    width: 100%;
    margin-block-end: 1em;
}

.little#init {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 31%;
    margin-left: 10px; /*come vuoi, controlla con responsivity*/
    margin-block-start: 0.5em;
    height: fit-content;
}

.side_title {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
    font-family: PoynterOldstyleDisplay-NarBold, serif;
    margin-block-start: 0.3em;
    margin-block-end: 0.1em;
    background-color: #004272;
    padding: 10px;
}

.line4 {
    width: 98%;
    border-top: thin solid #cacaca;
}

.img_title1 {
    max-width: 100%;
    height: auto;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .big {
        flex-basis: 100% !important;
        max-width: 100% !important;
        margin-block-start: 1em;
    }

    .mid {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }

    .little {
        flex-basis: 100% !important;
        max-width: 100% !important;
        margin-block-start: 1em;
    }

    .little#init {
        margin-block-start: 1em !important;
        margin-block-end: 1em;
    }
}