html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
}

@media (min-width: 1020px){
    .content{
    max-width: 1020px;
    }
}

.content{
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    background-color: #ffffff;
}
.share{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.newsletter{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img_style{
    margin-right: 5px;
    margin-left: 10px;
}

.social{
    display: flex;
    flex-direction: row;
}

.img_social{
    padding: 15px;
}

div#main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div#sfoglia{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top{
    color: #004272;
    font-weight: bolder;
    font-family: "", serif;
    font-size: 60px;
    height: 15px;
    margin-top: -5px;
}
.sub{
    font-family: "", serif;
    font-weight: lighter;
    text-align: right;
    font-size: 15px;
}

div#user{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 200px;
    align-items: center;
}
.Accesso{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Abbonamento{
    display: flex;
    flex-direction: row;
    background-color: #8c131f;
    color: #ffffff;
    margin-bottom: auto;
    line-height: 0;
    padding: 10px;
}
.acc{
    text-align: center;
    font-size: smaller;
}
.abb{
    text-align: center;
    font-size: smaller;
    color: #ffffff;

}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #004272;
    color: #ffffff;
    height: 4%;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hb{
    width: 15px;
    height: 1.5px;
    background-color: #ffffff;
    margin: 3px 0;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #004272;
    color: #ffffff;
    padding: 10px;
}
.item{
    text-align: center;
    font-size: smaller;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #004272;
    color: #ffffff;
    margin-right: 10px;
}

.scelta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.scegli{
    font-size: medium;
    font-weight: bold;
}
.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
}
.town{
    font-size: 15px;
    font-weight: bold;
}
.line{
    border-top: 1px #000000;
}
.line1{
    width: 98%;
    border-top: 1px solid #000000;
}

.line2{
    width: 100%;
    border-top: 1px solid #000000;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.info{
    font-size: 18px;
}

.footer{
    background-color: #063a74;
}

@media (min-width: 1020px){
    .foot_content{
        max-width: 1020px;
    }
}

.foot_content{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #ffffff;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    padding: 15px;
}
.img_foot{
     flex-basis: 100%;
     width: 100%;
 }
.text_foot{
    flex-basis: 100%;
}
.line3{
    width: 98%;
    border-top: thin #ffffff;
}