html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
}

@media (min-width: 1020px){
    .content{
    max-width: 1020px;
    }
}

.content{
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    background-color: #ffffff;
    z-index: 1;
}

